<html>
  <head>
    <meta charset="utf-8">
    <title>Calender</title>
    <link rel="stylesheet" href="css/cal.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js'></script>
  </head>
  <body>
    <div class="list">
      <div class="listheader">
        <h1>Daily Plan</h1>
      </div>
      <div class="listContent">

      </div>

      <div class="listFooter">
          <select name="md" class="md">

            <option class="d">This Month</option>
            <option class="m">Every Month</option>

          </select>
          <input type="text" class="addTime" name="date" placeholder="Add Time">
          <input type="text" class="addContent" name="content" placeholder="Add Content">

          <input type="button" class="listSubmit" value="Add">
        </form>
      </div>
    </div>

      <div class="calender">
        <div class="calenderHeader">
          <h1 class="calDate">October 2016</h1>

        </div>
        <div class="box">
          <div class="calenderContent">
            <div class="dateBox">
            <div class="dateName">
              <div class="date">SU</div>
              <div class="date">MO</div>
              <div class="date">TU</div>
              <div class="date">WE</div>
              <div class="date">TH</div>
              <div class="date">FR</div>
              <div class="date">SA</div>
            </div>
              <div class="dataNum">

              </div>
            </div>

            <div class="monthBox">
              <div class="calSideBarBack"></div>

              <div class="calSideBarNext"></div>
            </div>

          </div>

        </div>
      </div>
    <script src="js/cal.js"></script>
  </body>
</html>
