<html>
  <head>
    <meta charset="utf-8">
    <title>Calender</title>
    <link rel="stylesheet" href="css/index.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js'></script>

  </head>

  <body>

    <div class="fullContent">
      <section class="section">
        <div class="header1">
          <div class="headerBox">
            <div class="contentBox">
              <div class="content">Main</div>
              <div class="content">Login</div>
              <div class="content">Register</div>
              <div class="content">Intro</div>
            </div>
          </div>
        </div>
        <div class="main">
          <div class="mainBox">
            <div class="mainHeader">
              WelCome!
            </div>

            <div class="readMore">
                Read More ?
            </div>
          </div>
        </div>
      </section>

      <section class="section" id="section2">
        <div class="header2">
          <div class="headerBox">
            <div class="contentBox">
              <div class="content">Main</div>
              <div class="content">Login</div>
              <div class="content">Register</div>
              <div class="content">Intro</div>
            </div>
          </div>
        </div>
        <div class="intro">

        </div>
      </section>

      <section class="section">
        <div class="header3">
          <div class="headerBox">
            <div class="contentBox">
              <div class="content">Main</div>
              <div class="content">Login</div>
              <div class="content">Register</div>
              <div class="content">Intro</div>
            </div>
          </div>
        </div>
        <div class="register">

        </div>
      </section>

      <section class="section" id="section2">
        <div class="header4">
          <div class="headerBox">
            <div class="contentBox">
              <div class="content">Main</div>
              <div class="content">Login</div>
              <div class="content">Register</div>
              <div class="content">Intro</div>
            </div>
          </div>
        </div>
        <div class="login">

          <form class="loginForm" action="http://localhost:3000/login" method="post">
            <h1>LOGIN</h1>
            <input type="text" name="id" class="loginInput" placeholder="Your Id">
            <input type="password" name="ps" class="loginInput" placeholder="Your Password">

            <input type="submit" class="submit" value="Log In">

          </form>

        </div>
      </section>
    </div>

    <script src="js/index.js"></script>
  </body>
</html>
